@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
    font-family: Outfit;
}

.prata-regular {
    font-family: "Prata", serif;
    font-weight: 400;
    font-style: normal;
}
  

body,html{
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100svh;
    width: 100%;
}

.mynav a.active{
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 2px;
}

.my-sidebar a.active{
    background-color: black;
    color: white;
}

#root{
    height: 100%;
    width: 100%;
}